# Clase 2 Fundamentos DS

In [1]:
#@author: josue.fredes@gmail.com

import pandas as pd

df = pd.read_csv('data/alumnos.csv')

In [2]:
df.columns

Index(['nombre', 'altura', 'peso', 'edad', 'sexo'], dtype='object')

## Comportamiento en Series

In [3]:
type(df.altura)

pandas.core.series.Series

In [4]:
for i in df.altura:
    print(i, type(i))

1.67 <class 'float'>
1.73 <class 'float'>
1.62 <class 'float'>
1.58 <class 'float'>
1.86 <class 'float'>
1.79 <class 'float'>
1.69 <class 'float'>
1.6 <class 'float'>
1.6 <class 'float'>
1.98 <class 'float'>
1.72 <class 'float'>
1.63 <class 'float'>
1.73 <class 'float'>
1.62 <class 'float'>
1.58 <class 'float'>
1.86 <class 'float'>
1.79 <class 'float'>
1.6 <class 'float'>
1.98 <class 'float'>
1.72 <class 'float'>
1.58 <class 'float'>

In [5]:
for i in df['altura'].index:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
for i in df.altura*2:
    print(i)

3.34
3.46
3.24
3.16
3.72
3.58
3.38
3.2
3.2
3.96
3.44
3.26
3.46
3.24
3.16
3.72
3.58
3.2
3.96
3.44
3.16

## Iteritems

In [7]:
for colname in df.columns:
    print(colname)

nombre
altura
peso
edad
sexo

In [8]:
for _, serie in df.iteritems():
    print(serie.dtype)

object
float64
int64
int64
object

## Iterrows

In [9]:
for rowname, serie in df.iterrows():
    print(rowname)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [10]:
for rowname, serie in df.iterrows():
    print(serie)
    break

nombre    Hugo
altura    1.67
peso        60
edad        23
sexo         h
Name: 0, dtype: object

## Boolean subset

In [11]:
df = df[(df.peso < 60)].reset_index(drop=True)
df.head()

    nombre  altura  peso  edad sexo
0    Diana    1.58    58    21    m
1  Marisol    1.60    56    30    m
2   Camila    1.63    57    26    m

## Iterrows condicionales

In [13]:
#Cargar datos originales
df = pd.read_csv('data/alumnos.csv')

# Calcular media del peso sobre hombres
mean_male = 0
count = 0
for index, rowserie in df.iterrows():
    if rowserie['sexo'] == 'h':
        mean_male += rowserie.peso
        count += 1

print(mean_male/count)

85.33333333333333

In [14]:
df.sexo.value_counts()

h    12
m     9
Name: sexo, dtype: int64

In [15]:
df[df.sexo=='h'].sexo = 'hombre'
print(df)

       nombre  altura  peso  edad sexo
0        Hugo    1.67    60    23    h
1        Paco    1.73    83    25    h
2        Luis    1.62    70    28    h
3       Diana    1.58    58    21    m
4   Francisco    1.86    98    28    h
5      Felipe    1.79   100    26    h
6     Jacinta    1.69    62    20    m
7    Bernardo    1.60    83    31    h
8     Marisol    1.60    56    30    m
9     Facundo    1.98   112    36    h
10   Trinidad    1.72    72    21    m
11     Camila    1.63    57    26    m
12   Macarena    1.73    68    27    m
13      Diego    1.62    78    23    h
14    Gonzalo    1.58    67    22    h
15  Alejandra    1.86    74    21    m
16   Fernando    1.79    93    27    h
17   Carolina    1.60    63    28    m
18    Vicente    1.98   102    31    h
19   Benjamín    1.72    78    36    h
20     Gloria    1.58    65    23    m

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [16]:
df.loc[df.sexo=='h', 'sexo'] = 'hombre'

print(df)

       nombre  altura  peso  edad    sexo
0        Hugo    1.67    60    23  hombre
1        Paco    1.73    83    25  hombre
2        Luis    1.62    70    28  hombre
3       Diana    1.58    58    21       m
4   Francisco    1.86    98    28  hombre
5      Felipe    1.79   100    26  hombre
6     Jacinta    1.69    62    20       m
7    Bernardo    1.60    83    31  hombre
8     Marisol    1.60    56    30       m
9     Facundo    1.98   112    36  hombre
10   Trinidad    1.72    72    21       m
11     Camila    1.63    57    26       m
12   Macarena    1.73    68    27       m
13      Diego    1.62    78    23  hombre
14    Gonzalo    1.58    67    22  hombre
15  Alejandra    1.86    74    21       m
16   Fernando    1.79    93    27  hombre
17   Carolina    1.60    63    28       m
18    Vicente    1.98   102    31  hombre
19   Benjamín    1.72    78    36  hombre
20     Gloria    1.58    65    23       m

In [17]:
df['sexo'] = 'hombre'
print(df)

       nombre  altura  peso  edad    sexo
0        Hugo    1.67    60    23  hombre
1        Paco    1.73    83    25  hombre
2        Luis    1.62    70    28  hombre
3       Diana    1.58    58    21  hombre
4   Francisco    1.86    98    28  hombre
5      Felipe    1.79   100    26  hombre
6     Jacinta    1.69    62    20  hombre
7    Bernardo    1.60    83    31  hombre
8     Marisol    1.60    56    30  hombre
9     Facundo    1.98   112    36  hombre
10   Trinidad    1.72    72    21  hombre
11     Camila    1.63    57    26  hombre
12   Macarena    1.73    68    27  hombre
13      Diego    1.62    78    23  hombre
14    Gonzalo    1.58    67    22  hombre
15  Alejandra    1.86    74    21  hombre
16   Fernando    1.79    93    27  hombre
17   Carolina    1.60    63    28  hombre
18    Vicente    1.98   102    31  hombre
19   Benjamín    1.72    78    36  hombre
20     Gloria    1.58    65    23  hombre