## Calculando Probabilidades

In [10]:
import pandas as pd

df = pd.read_csv('data/deptos.csv')
df.head(20)

  depto    h    m
0     A  825  108
1     B  560   25
2     C  325  593
3     D  417  375
4     E  191  393
5     F  373  341

In [11]:
# Generemos la columna total
df['total'] = df.h + df.m

# df.head solo imprimirá la cantidad de filas que pueda
df.head(1000)

  depto    h    m  total
0     A  825  108    933
1     B  560   25    585
2     C  325  593    918
3     D  417  375    792
4     E  191  393    584
5     F  373  341    714

In [17]:
# Probabilidad de hombre en dpto A
df_a = df[df.depto=='A']
df_a.h.sum()/df_a.total.sum()

0.8842443729903537

In [19]:
# Probabilidad de elegir una mujer del departamento C en el total de la muestra
df[df.depto=='C'].m.sum() / df.total.sum()

0.13102076889085285

In [27]:
# Entre mujeres, cual es el departamento más probable
#de ocurrir si elijo una mujer al azar
probs = df.m / df.m.sum()
df.loc[probs.idxmax(), 'depto']

'C'

## Como ordenar dataframes

In [31]:
probs.sort_values(ascending=False)

2    0.323161
4    0.214169
3    0.204360
5    0.185831
0    0.058856
1    0.013624
Name: m, dtype: float64

In [48]:
df.sort_values(by='total', ascending=False).reset_index(drop=True)

  depto    h    m  total
0     A  825  108    933
1     C  325  593    918
2     D  417  375    792
3     F  373  341    714
4     B  560   25    585
5     E  191  393    584

In [41]:
def suma1(x):
    x += 1 
    return x

a = 1
print(a)
print(suma1(a))
print(a)

1
2
1

In [47]:
def suma1l(x):
    """ Funcion que suma chao a una lsta 
    
    x: la lista 
    """
    x += ['chao'] 
    return x

a = ['hola']
print(a)
print(suma1l(a))
print(a)

['hola']

TypeError: suma1l() takes 0 positional arguments but 1 was given